{"swagger":"2.0","info":{"description":"This is a dynamic API generated by PostgREST","title":"PostgREST API","version":"12.0.2"},"host":"api.cpicpgx.org:443","basePath":"/v1/","schemes":["https"],"consumes":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json","text/csv"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json","text/csv"],"paths":{"/":{"get":{"tags":["Introspection"],"summary":"OpenAPI description (this document)","produces":["application/openapi+json","application/json"],"responses":{"200":{"description":"OK"}}}},"/file_artifact":{"get":{"tags":["file_artifact"],"summary":"File artifact information. Each entry is a different file artifact generated by the system","parameters":[{"$ref":"#/parameters/rowFilter.file_artifact.id"},{"$ref":"#/parameters/rowFilter.file_artifact.entityids"},{"$ref":"#/parameters/rowFilter.file_artifact.type"},{"$ref":"#/parameters/rowFilter.file_artifact.filename"},{"$ref":"#/parameters/rowFilter.file_artifact.url"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/file_artifact"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["file_artifact"],"summary":"File artifact information. Each entry is a different file artifact generated by the system","parameters":[{"$ref":"#/parameters/body.file_artifact"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["file_artifact"],"summary":"File artifact information. Each entry is a different file artifact generated by the system","parameters":[{"$ref":"#/parameters/rowFilter.file_artifact.id"},{"$ref":"#/parameters/rowFilter.file_artifact.entityids"},{"$ref":"#/parameters/rowFilter.file_artifact.type"},{"$ref":"#/parameters/rowFilter.file_artifact.filename"},{"$ref":"#/parameters/rowFilter.file_artifact.url"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["file_artifact"],"summary":"File artifact information. Each entry is a different file artifact generated by the system","parameters":[{"$ref":"#/parameters/rowFilter.file_artifact.id"},{"$ref":"#/parameters/rowFilter.file_artifact.entityids"},{"$ref":"#/parameters/rowFilter.file_artifact.type"},{"$ref":"#/parameters/rowFilter.file_artifact.filename"},{"$ref":"#/parameters/rowFilter.file_artifact.url"},{"$ref":"#/parameters/body.file_artifact"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/drug":{"get":{"tags":["drug"],"summary":"A clinically-used drug.","parameters":[{"$ref":"#/parameters/rowFilter.drug.drugid"},{"$ref":"#/parameters/rowFilter.drug.name"},{"$ref":"#/parameters/rowFilter.drug.clinpgxid"},{"$ref":"#/parameters/rowFilter.drug.rxnormid"},{"$ref":"#/parameters/rowFilter.drug.drugbankid"},{"$ref":"#/parameters/rowFilter.drug.atcid"},{"$ref":"#/parameters/rowFilter.drug.umlscui"},{"$ref":"#/parameters/rowFilter.drug.flowchart"},{"$ref":"#/parameters/rowFilter.drug.version"},{"$ref":"#/parameters/rowFilter.drug.guidelineid"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/drug"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["drug"],"summary":"A clinically-used drug.","parameters":[{"$ref":"#/parameters/body.drug"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["drug"],"summary":"A clinically-used drug.","parameters":[{"$ref":"#/parameters/rowFilter.drug.drugid"},{"$ref":"#/parameters/rowFilter.drug.name"},{"$ref":"#/parameters/rowFilter.drug.clinpgxid"},{"$ref":"#/parameters/rowFilter.drug.rxnormid"},{"$ref":"#/parameters/rowFilter.drug.drugbankid"},{"$ref":"#/parameters/rowFilter.drug.atcid"},{"$ref":"#/parameters/rowFilter.drug.umlscui"},{"$ref":"#/parameters/rowFilter.drug.flowchart"},{"$ref":"#/parameters/rowFilter.drug.version"},{"$ref":"#/parameters/rowFilter.drug.guidelineid"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["drug"],"summary":"A clinically-used drug.","parameters":[{"$ref":"#/parameters/rowFilter.drug.drugid"},{"$ref":"#/parameters/rowFilter.drug.name"},{"$ref":"#/parameters/rowFilter.drug.clinpgxid"},{"$ref":"#/parameters/rowFilter.drug.rxnormid"},{"$ref":"#/parameters/rowFilter.drug.drugbankid"},{"$ref":"#/parameters/rowFilter.drug.atcid"},{"$ref":"#/parameters/rowFilter.drug.umlscui"},{"$ref":"#/parameters/rowFilter.drug.flowchart"},{"$ref":"#/parameters/rowFilter.drug.version"},{"$ref":"#/parameters/rowFilter.drug.guidelineid"},{"$ref":"#/parameters/body.drug"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/flyway_schema_history":{"get":{"tags":["flyway_schema_history"],"parameters":[{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_rank"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.version"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.description"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.type"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.script"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.checksum"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_by"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_on"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.execution_time"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.success"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/flyway_schema_history"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["flyway_schema_history"],"parameters":[{"$ref":"#/parameters/body.flyway_schema_history"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["flyway_schema_history"],"parameters":[{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_rank"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.version"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.description"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.type"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.script"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.checksum"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_by"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_on"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.execution_time"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.success"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["flyway_schema_history"],"parameters":[{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_rank"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.version"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.description"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.type"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.script"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.checksum"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_by"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.installed_on"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.execution_time"},{"$ref":"#/parameters/rowFilter.flyway_schema_history.success"},{"$ref":"#/parameters/body.flyway_schema_history"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/change_log":{"get":{"tags":["change_log"],"summary":"A dated freeform text description of a change made to a type of information and optionally for a specific entity","parameters":[{"$ref":"#/parameters/rowFilter.change_log.date"},{"$ref":"#/parameters/rowFilter.change_log.type"},{"$ref":"#/parameters/rowFilter.change_log.entityid"},{"$ref":"#/parameters/rowFilter.change_log.note"},{"$ref":"#/parameters/rowFilter.change_log.version"},{"$ref":"#/parameters/rowFilter.change_log.deployedrelease"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/change_log"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["change_log"],"summary":"A dated freeform text description of a change made to a type of information and optionally for a specific entity","parameters":[{"$ref":"#/parameters/body.change_log"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["change_log"],"summary":"A dated freeform text description of a change made to a type of information and optionally for a specific entity","parameters":[{"$ref":"#/parameters/rowFilter.change_log.date"},{"$ref":"#/parameters/rowFilter.change_log.type"},{"$ref":"#/parameters/rowFilter.change_log.entityid"},{"$ref":"#/parameters/rowFilter.change_log.note"},{"$ref":"#/parameters/rowFilter.change_log.version"},{"$ref":"#/parameters/rowFilter.change_log.deployedrelease"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["change_log"],"summary":"A dated freeform text description of a change made to a type of information and optionally for a specific entity","parameters":[{"$ref":"#/parameters/rowFilter.change_log.date"},{"$ref":"#/parameters/rowFilter.change_log.type"},{"$ref":"#/parameters/rowFilter.change_log.entityid"},{"$ref":"#/parameters/rowFilter.change_log.note"},{"$ref":"#/parameters/rowFilter.change_log.version"},{"$ref":"#/parameters/rowFilter.change_log.deployedrelease"},{"$ref":"#/parameters/body.change_log"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/sequence_location":{"get":{"tags":["sequence_location"],"summary":"A location on a sequence","parameters":[{"$ref":"#/parameters/rowFilter.sequence_location.id"},{"$ref":"#/parameters/rowFilter.sequence_location.version"},{"$ref":"#/parameters/rowFilter.sequence_location.name"},{"$ref":"#/parameters/rowFilter.sequence_location.chromosomelocation"},{"$ref":"#/parameters/rowFilter.sequence_location.genelocation"},{"$ref":"#/parameters/rowFilter.sequence_location.proteinlocation"},{"$ref":"#/parameters/rowFilter.sequence_location.genesymbol"},{"$ref":"#/parameters/rowFilter.sequence_location.dbsnpid"},{"$ref":"#/parameters/rowFilter.sequence_location.position"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/sequence_location"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["sequence_location"],"summary":"A location on a sequence","parameters":[{"$ref":"#/parameters/body.sequence_location"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["sequence_location"],"summary":"A location on a sequence","parameters":[{"$ref":"#/parameters/rowFilter.sequence_location.id"},{"$ref":"#/parameters/rowFilter.sequence_location.version"},{"$ref":"#/parameters/rowFilter.sequence_location.name"},{"$ref":"#/parameters/rowFilter.sequence_location.chromosomelocation"},{"$ref":"#/parameters/rowFilter.sequence_location.genelocation"},{"$ref":"#/parameters/rowFilter.sequence_location.proteinlocation"},{"$ref":"#/parameters/rowFilter.sequence_location.genesymbol"},{"$ref":"#/parameters/rowFilter.sequence_location.dbsnpid"},{"$ref":"#/parameters/rowFilter.sequence_location.position"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["sequence_location"],"summary":"A location on a sequence","parameters":[{"$ref":"#/parameters/rowFilter.sequence_location.id"},{"$ref":"#/parameters/rowFilter.sequence_location.version"},{"$ref":"#/parameters/rowFilter.sequence_location.name"},{"$ref":"#/parameters/rowFilter.sequence_location.chromosomelocation"},{"$ref":"#/parameters/rowFilter.sequence_location.genelocation"},{"$ref":"#/parameters/rowFilter.sequence_location.proteinlocation"},{"$ref":"#/parameters/rowFilter.sequence_location.genesymbol"},{"$ref":"#/parameters/rowFilter.sequence_location.dbsnpid"},{"$ref":"#/parameters/rowFilter.sequence_location.position"},{"$ref":"#/parameters/body.sequence_location"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/allele_location_value":{"get":{"tags":["allele_location_value"],"summary":"The change at a specific location for a specific allele","parameters":[{"$ref":"#/parameters/rowFilter.allele_location_value.alleledefinitionid"},{"$ref":"#/parameters/rowFilter.allele_location_value.locationid"},{"$ref":"#/parameters/rowFilter.allele_location_value.variantallele"},{"$ref":"#/parameters/rowFilter.allele_location_value.version"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/allele_location_value"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["allele_location_value"],"summary":"The change at a specific location for a specific allele","parameters":[{"$ref":"#/parameters/body.allele_location_value"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["allele_location_value"],"summary":"The change at a specific location for a specific allele","parameters":[{"$ref":"#/parameters/rowFilter.allele_location_value.alleledefinitionid"},{"$ref":"#/parameters/rowFilter.allele_location_value.locationid"},{"$ref":"#/parameters/rowFilter.allele_location_value.variantallele"},{"$ref":"#/parameters/rowFilter.allele_location_value.version"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["allele_location_value"],"summary":"The change at a specific location for a specific allele","parameters":[{"$ref":"#/parameters/rowFilter.allele_location_value.alleledefinitionid"},{"$ref":"#/parameters/rowFilter.allele_location_value.locationid"},{"$ref":"#/parameters/rowFilter.allele_location_value.variantallele"},{"$ref":"#/parameters/rowFilter.allele_location_value.version"},{"$ref":"#/parameters/body.allele_location_value"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/guideline":{"get":{"tags":["guideline"],"summary":"A guideline for a drug or group of drugs","parameters":[{"$ref":"#/parameters/rowFilter.guideline.id"},{"$ref":"#/parameters/rowFilter.guideline.version"},{"$ref":"#/parameters/rowFilter.guideline.name"},{"$ref":"#/parameters/rowFilter.guideline.url"},{"$ref":"#/parameters/rowFilter.guideline.genes"},{"$ref":"#/parameters/rowFilter.guideline.notesonusage"},{"$ref":"#/parameters/rowFilter.guideline.clinpgxid"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/guideline"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["guideline"],"summary":"A guideline for a drug or group of drugs","parameters":[{"$ref":"#/parameters/body.guideline"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["guideline"],"summary":"A guideline for a drug or group of drugs","parameters":[{"$ref":"#/parameters/rowFilter.guideline.id"},{"$ref":"#/parameters/rowFilter.guideline.version"},{"$ref":"#/parameters/rowFilter.guideline.name"},{"$ref":"#/parameters/rowFilter.guideline.url"},{"$ref":"#/parameters/rowFilter.guideline.genes"},{"$ref":"#/parameters/rowFilter.guideline.notesonusage"},{"$ref":"#/parameters/rowFilter.guideline.clinpgxid"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["guideline"],"summary":"A guideline for a drug or group of drugs","parameters":[{"$ref":"#/parameters/rowFilter.guideline.id"},{"$ref":"#/parameters/rowFilter.guideline.version"},{"$ref":"#/parameters/rowFilter.guideline.name"},{"$ref":"#/parameters/rowFilter.guideline.url"},{"$ref":"#/parameters/rowFilter.guideline.genes"},{"$ref":"#/parameters/rowFilter.guideline.notesonusage"},{"$ref":"#/parameters/rowFilter.guideline.clinpgxid"},{"$ref":"#/parameters/body.guideline"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/file_note":{"get":{"tags":["file_note"],"summary":"An ordered note that should appear with the type of information specified","parameters":[{"$ref":"#/parameters/rowFilter.file_note.type"},{"$ref":"#/parameters/rowFilter.file_note.entityid"},{"$ref":"#/parameters/rowFilter.file_note.note"},{"$ref":"#/parameters/rowFilter.file_note.ordinal"},{"$ref":"#/parameters/rowFilter.file_note.version"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/file_note"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["file_note"],"summary":"An ordered note that should appear with the type of information specified","parameters":[{"$ref":"#/parameters/body.file_note"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["file_note"],"summary":"An ordered note that should appear with the type of information specified","parameters":[{"$ref":"#/parameters/rowFilter.file_note.type"},{"$ref":"#/parameters/rowFilter.file_note.entityid"},{"$ref":"#/parameters/rowFilter.file_note.note"},{"$ref":"#/parameters/rowFilter.file_note.ordinal"},{"$ref":"#/parameters/rowFilter.file_note.version"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["file_note"],"summary":"An ordered note that should appear with the type of information specified","parameters":[{"$ref":"#/parameters/rowFilter.file_note.type"},{"$ref":"#/parameters/rowFilter.file_note.entityid"},{"$ref":"#/parameters/rowFilter.file_note.note"},{"$ref":"#/parameters/rowFilter.file_note.ordinal"},{"$ref":"#/parameters/rowFilter.file_note.version"},{"$ref":"#/parameters/body.file_note"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/recommendation_view":{"get":{"tags":["recommendation_view"],"summary":"A view to help find recommendation data when querying by the lookupKey","parameters":[{"$ref":"#/parameters/rowFilter.recommendation_view.recommendationid"},{"$ref":"#/parameters/rowFilter.recommendation_view.lookupkey"},{"$ref":"#/parameters/rowFilter.recommendation_view.drugname"},{"$ref":"#/parameters/rowFilter.recommendation_view.guidelinename"},{"$ref":"#/parameters/rowFilter.recommendation_view.guidelineurl"},{"$ref":"#/parameters/rowFilter.recommendation_view.implications"},{"$ref":"#/parameters/rowFilter.recommendation_view.drugrecommendation"},{"$ref":"#/parameters/rowFilter.recommendation_view.classification"},{"$ref":"#/parameters/rowFilter.recommendation_view.phenotypes"},{"$ref":"#/parameters/rowFilter.recommendation_view.activityscore"},{"$ref":"#/parameters/rowFilter.recommendation_view.population"},{"$ref":"#/parameters/rowFilter.recommendation_view.comments"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/recommendation_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/population":{"get":{"tags":["population"],"summary":"A population description of a group of subjects","parameters":[{"$ref":"#/parameters/rowFilter.population.id"},{"$ref":"#/parameters/rowFilter.population.publicationid"},{"$ref":"#/parameters/rowFilter.population.ethnicity"},{"$ref":"#/parameters/rowFilter.population.population"},{"$ref":"#/parameters/rowFilter.population.populationinfo"},{"$ref":"#/parameters/rowFilter.population.subjecttype"},{"$ref":"#/parameters/rowFilter.population.subjectcount"},{"$ref":"#/parameters/rowFilter.population.version"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/population"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["population"],"summary":"A population description of a group of subjects","parameters":[{"$ref":"#/parameters/body.population"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["population"],"summary":"A population description of a group of subjects","parameters":[{"$ref":"#/parameters/rowFilter.population.id"},{"$ref":"#/parameters/rowFilter.population.publicationid"},{"$ref":"#/parameters/rowFilter.population.ethnicity"},{"$ref":"#/parameters/rowFilter.population.population"},{"$ref":"#/parameters/rowFilter.population.populationinfo"},{"$ref":"#/parameters/rowFilter.population.subjecttype"},{"$ref":"#/parameters/rowFilter.population.subjectcount"},{"$ref":"#/parameters/rowFilter.population.version"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["population"],"summary":"A population description of a group of subjects","parameters":[{"$ref":"#/parameters/rowFilter.population.id"},{"$ref":"#/parameters/rowFilter.population.publicationid"},{"$ref":"#/parameters/rowFilter.population.ethnicity"},{"$ref":"#/parameters/rowFilter.population.population"},{"$ref":"#/parameters/rowFilter.population.populationinfo"},{"$ref":"#/parameters/rowFilter.population.subjecttype"},{"$ref":"#/parameters/rowFilter.population.subjectcount"},{"$ref":"#/parameters/rowFilter.population.version"},{"$ref":"#/parameters/body.population"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/statistic":{"get":{"tags":["statistic"],"summary":"A collection of numerical statistics with metadata about this database and other CPIC data","parameters":[{"$ref":"#/parameters/rowFilter.statistic.createdon"},{"$ref":"#/parameters/rowFilter.statistic.stattype"},{"$ref":"#/parameters/rowFilter.statistic.statvalue"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/statistic"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["statistic"],"summary":"A collection of numerical statistics with metadata about this database and other CPIC data","parameters":[{"$ref":"#/parameters/body.statistic"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["statistic"],"summary":"A collection of numerical statistics with metadata about this database and other CPIC data","parameters":[{"$ref":"#/parameters/rowFilter.statistic.createdon"},{"$ref":"#/parameters/rowFilter.statistic.stattype"},{"$ref":"#/parameters/rowFilter.statistic.statvalue"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["statistic"],"summary":"A collection of numerical statistics with metadata about this database and other CPIC data","parameters":[{"$ref":"#/parameters/rowFilter.statistic.createdon"},{"$ref":"#/parameters/rowFilter.statistic.stattype"},{"$ref":"#/parameters/rowFilter.statistic.statvalue"},{"$ref":"#/parameters/body.statistic"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/test_alert_view":{"get":{"tags":["test_alert_view"],"summary":"A view to help find test alert data when querying by the lookupKey","parameters":[{"$ref":"#/parameters/rowFilter.test_alert_view.testalertid"},{"$ref":"#/parameters/rowFilter.test_alert_view.lookupkey"},{"$ref":"#/parameters/rowFilter.test_alert_view.drugname"},{"$ref":"#/parameters/rowFilter.test_alert_view.population"},{"$ref":"#/parameters/rowFilter.test_alert_view.alerttext"},{"$ref":"#/parameters/rowFilter.test_alert_view.cdscontext"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/test_alert_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/pair_view":{"get":{"tags":["pair_view"],"summary":"This pairs view combines information from the pair, drug, and guideline tables to make a more readable view of pair data. This also limits result to pairs which have NOT been removed.","parameters":[{"$ref":"#/parameters/rowFilter.pair_view.pairid"},{"$ref":"#/parameters/rowFilter.pair_view.drugid"},{"$ref":"#/parameters/rowFilter.pair_view.drugname"},{"$ref":"#/parameters/rowFilter.pair_view.genesymbol"},{"$ref":"#/parameters/rowFilter.pair_view.guidelinename"},{"$ref":"#/parameters/rowFilter.pair_view.guidelineurl"},{"$ref":"#/parameters/rowFilter.pair_view.cpiclevel"},{"$ref":"#/parameters/rowFilter.pair_view.clinpgxlevel"},{"$ref":"#/parameters/rowFilter.pair_view.pgxtesting"},{"$ref":"#/parameters/rowFilter.pair_view.pmids"},{"$ref":"#/parameters/rowFilter.pair_view.usedforrecommendation"},{"$ref":"#/parameters/rowFilter.pair_view.provisional"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/pair_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/pair":{"get":{"tags":["pair"],"summary":"A pair of a gene and a drug that is notable to CPIC","parameters":[{"$ref":"#/parameters/rowFilter.pair.pairid"},{"$ref":"#/parameters/rowFilter.pair.genesymbol"},{"$ref":"#/parameters/rowFilter.pair.drugid"},{"$ref":"#/parameters/rowFilter.pair.guidelineid"},{"$ref":"#/parameters/rowFilter.pair.usedforrecommendation"},{"$ref":"#/parameters/rowFilter.pair.version"},{"$ref":"#/parameters/rowFilter.pair.cpiclevel"},{"$ref":"#/parameters/rowFilter.pair.clinpgxlevel"},{"$ref":"#/parameters/rowFilter.pair.pgxtesting"},{"$ref":"#/parameters/rowFilter.pair.citations"},{"$ref":"#/parameters/rowFilter.pair.removed"},{"$ref":"#/parameters/rowFilter.pair.removeddate"},{"$ref":"#/parameters/rowFilter.pair.removedreason"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/pair"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["pair"],"summary":"A pair of a gene and a drug that is notable to CPIC","parameters":[{"$ref":"#/parameters/body.pair"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["pair"],"summary":"A pair of a gene and a drug that is notable to CPIC","parameters":[{"$ref":"#/parameters/rowFilter.pair.pairid"},{"$ref":"#/parameters/rowFilter.pair.genesymbol"},{"$ref":"#/parameters/rowFilter.pair.drugid"},{"$ref":"#/parameters/rowFilter.pair.guidelineid"},{"$ref":"#/parameters/rowFilter.pair.usedforrecommendation"},{"$ref":"#/parameters/rowFilter.pair.version"},{"$ref":"#/parameters/rowFilter.pair.cpiclevel"},{"$ref":"#/parameters/rowFilter.pair.clinpgxlevel"},{"$ref":"#/parameters/rowFilter.pair.pgxtesting"},{"$ref":"#/parameters/rowFilter.pair.citations"},{"$ref":"#/parameters/rowFilter.pair.removed"},{"$ref":"#/parameters/rowFilter.pair.removeddate"},{"$ref":"#/parameters/rowFilter.pair.removedreason"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["pair"],"summary":"A pair of a gene and a drug that is notable to CPIC","parameters":[{"$ref":"#/parameters/rowFilter.pair.pairid"},{"$ref":"#/parameters/rowFilter.pair.genesymbol"},{"$ref":"#/parameters/rowFilter.pair.drugid"},{"$ref":"#/parameters/rowFilter.pair.guidelineid"},{"$ref":"#/parameters/rowFilter.pair.usedforrecommendation"},{"$ref":"#/parameters/rowFilter.pair.version"},{"$ref":"#/parameters/rowFilter.pair.cpiclevel"},{"$ref":"#/parameters/rowFilter.pair.clinpgxlevel"},{"$ref":"#/parameters/rowFilter.pair.pgxtesting"},{"$ref":"#/parameters/rowFilter.pair.citations"},{"$ref":"#/parameters/rowFilter.pair.removed"},{"$ref":"#/parameters/rowFilter.pair.removeddate"},{"$ref":"#/parameters/rowFilter.pair.removedreason"},{"$ref":"#/parameters/body.pair"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/allele_frequency":{"get":{"tags":["allele_frequency"],"summary":"A frequency observation for a particular allele in a particular population","parameters":[{"$ref":"#/parameters/rowFilter.allele_frequency.alleleid"},{"$ref":"#/parameters/rowFilter.allele_frequency.population"},{"$ref":"#/parameters/rowFilter.allele_frequency.frequency"},{"$ref":"#/parameters/rowFilter.allele_frequency.label"},{"$ref":"#/parameters/rowFilter.allele_frequency.version"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/allele_frequency"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["allele_frequency"],"summary":"A frequency observation for a particular allele in a particular population","parameters":[{"$ref":"#/parameters/body.allele_frequency"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["allele_frequency"],"summary":"A frequency observation for a particular allele in a particular population","parameters":[{"$ref":"#/parameters/rowFilter.allele_frequency.alleleid"},{"$ref":"#/parameters/rowFilter.allele_frequency.population"},{"$ref":"#/parameters/rowFilter.allele_frequency.frequency"},{"$ref":"#/parameters/rowFilter.allele_frequency.label"},{"$ref":"#/parameters/rowFilter.allele_frequency.version"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["allele_frequency"],"summary":"A frequency observation for a particular allele in a particular population","parameters":[{"$ref":"#/parameters/rowFilter.allele_frequency.alleleid"},{"$ref":"#/parameters/rowFilter.allele_frequency.population"},{"$ref":"#/parameters/rowFilter.allele_frequency.frequency"},{"$ref":"#/parameters/rowFilter.allele_frequency.label"},{"$ref":"#/parameters/rowFilter.allele_frequency.version"},{"$ref":"#/parameters/body.allele_frequency"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/population_frequency_view":{"get":{"tags":["population_frequency_view"],"summary":"A summary of frequency data by allele and major population group","parameters":[{"$ref":"#/parameters/rowFilter.population_frequency_view.genesymbol"},{"$ref":"#/parameters/rowFilter.population_frequency_view.name"},{"$ref":"#/parameters/rowFilter.population_frequency_view.population_group"},{"$ref":"#/parameters/rowFilter.population_frequency_view.subjectcount"},{"$ref":"#/parameters/rowFilter.population_frequency_view.freq_weighted_avg"},{"$ref":"#/parameters/rowFilter.population_frequency_view.freq_avg"},{"$ref":"#/parameters/rowFilter.population_frequency_view.freq_max"},{"$ref":"#/parameters/rowFilter.population_frequency_view.freq_min"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/population_frequency_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/file_status":{"get":{"tags":["file_status"],"parameters":[{"$ref":"#/parameters/rowFilter.file_status.id"},{"$ref":"#/parameters/rowFilter.file_status.entityids"},{"$ref":"#/parameters/rowFilter.file_status.type"},{"$ref":"#/parameters/rowFilter.file_status.filename"},{"$ref":"#/parameters/rowFilter.file_status.url"},{"$ref":"#/parameters/rowFilter.file_status.latest_change"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/file_status"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/gene_result_lookup":{"get":{"tags":["gene_result_lookup"],"summary":"Gene descriptions that, when combined, link to a gene result. This table is a child of gene_result.","parameters":[{"$ref":"#/parameters/rowFilter.gene_result_lookup.id"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.phenotypeid"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.lookupkey"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.function1"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.function2"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.activityvalue1"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.activityvalue2"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.totalactivityscore"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.description"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/gene_result_lookup"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["gene_result_lookup"],"summary":"Gene descriptions that, when combined, link to a gene result. This table is a child of gene_result.","parameters":[{"$ref":"#/parameters/body.gene_result_lookup"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["gene_result_lookup"],"summary":"Gene descriptions that, when combined, link to a gene result. This table is a child of gene_result.","parameters":[{"$ref":"#/parameters/rowFilter.gene_result_lookup.id"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.phenotypeid"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.lookupkey"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.function1"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.function2"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.activityvalue1"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.activityvalue2"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.totalactivityscore"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.description"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["gene_result_lookup"],"summary":"Gene descriptions that, when combined, link to a gene result. This table is a child of gene_result.","parameters":[{"$ref":"#/parameters/rowFilter.gene_result_lookup.id"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.phenotypeid"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.lookupkey"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.function1"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.function2"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.activityvalue1"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.activityvalue2"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.totalactivityscore"},{"$ref":"#/parameters/rowFilter.gene_result_lookup.description"},{"$ref":"#/parameters/body.gene_result_lookup"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/publication":{"get":{"tags":["publication"],"summary":"Documents published to an external resource","parameters":[{"$ref":"#/parameters/rowFilter.publication.id"},{"$ref":"#/parameters/rowFilter.publication.guidelineid"},{"$ref":"#/parameters/rowFilter.publication.title"},{"$ref":"#/parameters/rowFilter.publication.authors"},{"$ref":"#/parameters/rowFilter.publication.journal"},{"$ref":"#/parameters/rowFilter.publication.month"},{"$ref":"#/parameters/rowFilter.publication.page"},{"$ref":"#/parameters/rowFilter.publication.volume"},{"$ref":"#/parameters/rowFilter.publication.year"},{"$ref":"#/parameters/rowFilter.publication.pmid"},{"$ref":"#/parameters/rowFilter.publication.pmcid"},{"$ref":"#/parameters/rowFilter.publication.doi"},{"$ref":"#/parameters/rowFilter.publication.url"},{"$ref":"#/parameters/rowFilter.publication.version"},{"$ref":"#/parameters/rowFilter.publication.highlightedonsite"},{"$ref":"#/parameters/rowFilter.publication.fulltextfile"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/publication"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["publication"],"summary":"Documents published to an external resource","parameters":[{"$ref":"#/parameters/body.publication"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["publication"],"summary":"Documents published to an external resource","parameters":[{"$ref":"#/parameters/rowFilter.publication.id"},{"$ref":"#/parameters/rowFilter.publication.guidelineid"},{"$ref":"#/parameters/rowFilter.publication.title"},{"$ref":"#/parameters/rowFilter.publication.authors"},{"$ref":"#/parameters/rowFilter.publication.journal"},{"$ref":"#/parameters/rowFilter.publication.month"},{"$ref":"#/parameters/rowFilter.publication.page"},{"$ref":"#/parameters/rowFilter.publication.volume"},{"$ref":"#/parameters/rowFilter.publication.year"},{"$ref":"#/parameters/rowFilter.publication.pmid"},{"$ref":"#/parameters/rowFilter.publication.pmcid"},{"$ref":"#/parameters/rowFilter.publication.doi"},{"$ref":"#/parameters/rowFilter.publication.url"},{"$ref":"#/parameters/rowFilter.publication.version"},{"$ref":"#/parameters/rowFilter.publication.highlightedonsite"},{"$ref":"#/parameters/rowFilter.publication.fulltextfile"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["publication"],"summary":"Documents published to an external resource","parameters":[{"$ref":"#/parameters/rowFilter.publication.id"},{"$ref":"#/parameters/rowFilter.publication.guidelineid"},{"$ref":"#/parameters/rowFilter.publication.title"},{"$ref":"#/parameters/rowFilter.publication.authors"},{"$ref":"#/parameters/rowFilter.publication.journal"},{"$ref":"#/parameters/rowFilter.publication.month"},{"$ref":"#/parameters/rowFilter.publication.page"},{"$ref":"#/parameters/rowFilter.publication.volume"},{"$ref":"#/parameters/rowFilter.publication.year"},{"$ref":"#/parameters/rowFilter.publication.pmid"},{"$ref":"#/parameters/rowFilter.publication.pmcid"},{"$ref":"#/parameters/rowFilter.publication.doi"},{"$ref":"#/parameters/rowFilter.publication.url"},{"$ref":"#/parameters/rowFilter.publication.version"},{"$ref":"#/parameters/rowFilter.publication.highlightedonsite"},{"$ref":"#/parameters/rowFilter.publication.fulltextfile"},{"$ref":"#/parameters/body.publication"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/file_artifact_history":{"get":{"tags":["file_artifact_history"],"summary":"History information for a related file artifact","parameters":[{"$ref":"#/parameters/rowFilter.file_artifact_history.id"},{"$ref":"#/parameters/rowFilter.file_artifact_history.fileid"},{"$ref":"#/parameters/rowFilter.file_artifact_history.source"},{"$ref":"#/parameters/rowFilter.file_artifact_history.changedate"},{"$ref":"#/parameters/rowFilter.file_artifact_history.changemessage"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/file_artifact_history"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["file_artifact_history"],"summary":"History information for a related file artifact","parameters":[{"$ref":"#/parameters/body.file_artifact_history"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["file_artifact_history"],"summary":"History information for a related file artifact","parameters":[{"$ref":"#/parameters/rowFilter.file_artifact_history.id"},{"$ref":"#/parameters/rowFilter.file_artifact_history.fileid"},{"$ref":"#/parameters/rowFilter.file_artifact_history.source"},{"$ref":"#/parameters/rowFilter.file_artifact_history.changedate"},{"$ref":"#/parameters/rowFilter.file_artifact_history.changemessage"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["file_artifact_history"],"summary":"History information for a related file artifact","parameters":[{"$ref":"#/parameters/rowFilter.file_artifact_history.id"},{"$ref":"#/parameters/rowFilter.file_artifact_history.fileid"},{"$ref":"#/parameters/rowFilter.file_artifact_history.source"},{"$ref":"#/parameters/rowFilter.file_artifact_history.changedate"},{"$ref":"#/parameters/rowFilter.file_artifact_history.changemessage"},{"$ref":"#/parameters/body.file_artifact_history"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/diplotype":{"get":{"tags":["diplotype"],"summary":"A combination of gene_result and gene_result_diplotype that allows you to easily query by diplotype and see the phenotype-related data for it","parameters":[{"$ref":"#/parameters/rowFilter.diplotype.genesymbol"},{"$ref":"#/parameters/rowFilter.diplotype.diplotype"},{"$ref":"#/parameters/rowFilter.diplotype.function1"},{"$ref":"#/parameters/rowFilter.diplotype.function2"},{"$ref":"#/parameters/rowFilter.diplotype.activityvalue1"},{"$ref":"#/parameters/rowFilter.diplotype.activityvalue2"},{"$ref":"#/parameters/rowFilter.diplotype.totalactivityscore"},{"$ref":"#/parameters/rowFilter.diplotype.description"},{"$ref":"#/parameters/rowFilter.diplotype.diplotypekey"},{"$ref":"#/parameters/rowFilter.diplotype.generesult"},{"$ref":"#/parameters/rowFilter.diplotype.ehrpriority"},{"$ref":"#/parameters/rowFilter.diplotype.consultationtext"},{"$ref":"#/parameters/rowFilter.diplotype.lookupkey"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/diplotype"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/allele_guideline_view":{"get":{"tags":["allele_guideline_view"],"summary":"A combination of alleles and the guidelines they appear in","parameters":[{"$ref":"#/parameters/rowFilter.allele_guideline_view.genesymbol"},{"$ref":"#/parameters/rowFilter.allele_guideline_view.allele_name"},{"$ref":"#/parameters/rowFilter.allele_guideline_view.guideline_name"},{"$ref":"#/parameters/rowFilter.allele_guideline_view.guideline_url"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/allele_guideline_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/recommendation_alleles_view":{"get":{"tags":["recommendation_alleles_view"],"summary":"A list of genes that are used for recommendation lookup and the alleles to use for those lookups","parameters":[{"$ref":"#/parameters/rowFilter.recommendation_alleles_view.genesymbol"},{"$ref":"#/parameters/rowFilter.recommendation_alleles_view.chr"},{"$ref":"#/parameters/rowFilter.recommendation_alleles_view.lookupmethod"},{"$ref":"#/parameters/rowFilter.recommendation_alleles_view.alleles"},{"$ref":"#/parameters/rowFilter.recommendation_alleles_view.allele_count"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/recommendation_alleles_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/gene_result":{"get":{"tags":["gene_result"],"summary":"Possible phenotype values for a gene. The gene + phenotype + activity score should be unique.","parameters":[{"$ref":"#/parameters/rowFilter.gene_result.id"},{"$ref":"#/parameters/rowFilter.gene_result.genesymbol"},{"$ref":"#/parameters/rowFilter.gene_result.result"},{"$ref":"#/parameters/rowFilter.gene_result.activityscore"},{"$ref":"#/parameters/rowFilter.gene_result.ehrpriority"},{"$ref":"#/parameters/rowFilter.gene_result.consultationtext"},{"$ref":"#/parameters/rowFilter.gene_result.version"},{"$ref":"#/parameters/rowFilter.gene_result.frequency"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/gene_result"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["gene_result"],"summary":"Possible phenotype values for a gene. The gene + phenotype + activity score should be unique.","parameters":[{"$ref":"#/parameters/body.gene_result"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["gene_result"],"summary":"Possible phenotype values for a gene. The gene + phenotype + activity score should be unique.","parameters":[{"$ref":"#/parameters/rowFilter.gene_result.id"},{"$ref":"#/parameters/rowFilter.gene_result.genesymbol"},{"$ref":"#/parameters/rowFilter.gene_result.result"},{"$ref":"#/parameters/rowFilter.gene_result.activityscore"},{"$ref":"#/parameters/rowFilter.gene_result.ehrpriority"},{"$ref":"#/parameters/rowFilter.gene_result.consultationtext"},{"$ref":"#/parameters/rowFilter.gene_result.version"},{"$ref":"#/parameters/rowFilter.gene_result.frequency"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["gene_result"],"summary":"Possible phenotype values for a gene. The gene + phenotype + activity score should be unique.","parameters":[{"$ref":"#/parameters/rowFilter.gene_result.id"},{"$ref":"#/parameters/rowFilter.gene_result.genesymbol"},{"$ref":"#/parameters/rowFilter.gene_result.result"},{"$ref":"#/parameters/rowFilter.gene_result.activityscore"},{"$ref":"#/parameters/rowFilter.gene_result.ehrpriority"},{"$ref":"#/parameters/rowFilter.gene_result.consultationtext"},{"$ref":"#/parameters/rowFilter.gene_result.version"},{"$ref":"#/parameters/rowFilter.gene_result.frequency"},{"$ref":"#/parameters/body.gene_result"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/gene_result_diplotype":{"get":{"tags":["gene_result_diplotype"],"summary":"Specific diplotypes that are associated with a gene result. This table is a child of gene_result_lookup and distantly of gene_result","parameters":[{"$ref":"#/parameters/rowFilter.gene_result_diplotype.id"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.functionphenotypeid"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.diplotype"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.diplotypekey"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.frequency"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/gene_result_diplotype"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["gene_result_diplotype"],"summary":"Specific diplotypes that are associated with a gene result. This table is a child of gene_result_lookup and distantly of gene_result","parameters":[{"$ref":"#/parameters/body.gene_result_diplotype"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["gene_result_diplotype"],"summary":"Specific diplotypes that are associated with a gene result. This table is a child of gene_result_lookup and distantly of gene_result","parameters":[{"$ref":"#/parameters/rowFilter.gene_result_diplotype.id"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.functionphenotypeid"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.diplotype"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.diplotypekey"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.frequency"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["gene_result_diplotype"],"summary":"Specific diplotypes that are associated with a gene result. This table is a child of gene_result_lookup and distantly of gene_result","parameters":[{"$ref":"#/parameters/rowFilter.gene_result_diplotype.id"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.functionphenotypeid"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.diplotype"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.diplotypekey"},{"$ref":"#/parameters/rowFilter.gene_result_diplotype.frequency"},{"$ref":"#/parameters/body.gene_result_diplotype"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/allele_definition":{"get":{"tags":["allele_definition"],"summary":"The definition for an allele of a gene","parameters":[{"$ref":"#/parameters/rowFilter.allele_definition.id"},{"$ref":"#/parameters/rowFilter.allele_definition.version"},{"$ref":"#/parameters/rowFilter.allele_definition.genesymbol"},{"$ref":"#/parameters/rowFilter.allele_definition.name"},{"$ref":"#/parameters/rowFilter.allele_definition.pharmvarid"},{"$ref":"#/parameters/rowFilter.allele_definition.matchesreferencesequence"},{"$ref":"#/parameters/rowFilter.allele_definition.structuralvariation"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/allele_definition"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["allele_definition"],"summary":"The definition for an allele of a gene","parameters":[{"$ref":"#/parameters/body.allele_definition"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["allele_definition"],"summary":"The definition for an allele of a gene","parameters":[{"$ref":"#/parameters/rowFilter.allele_definition.id"},{"$ref":"#/parameters/rowFilter.allele_definition.version"},{"$ref":"#/parameters/rowFilter.allele_definition.genesymbol"},{"$ref":"#/parameters/rowFilter.allele_definition.name"},{"$ref":"#/parameters/rowFilter.allele_definition.pharmvarid"},{"$ref":"#/parameters/rowFilter.allele_definition.matchesreferencesequence"},{"$ref":"#/parameters/rowFilter.allele_definition.structuralvariation"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["allele_definition"],"summary":"The definition for an allele of a gene","parameters":[{"$ref":"#/parameters/rowFilter.allele_definition.id"},{"$ref":"#/parameters/rowFilter.allele_definition.version"},{"$ref":"#/parameters/rowFilter.allele_definition.genesymbol"},{"$ref":"#/parameters/rowFilter.allele_definition.name"},{"$ref":"#/parameters/rowFilter.allele_definition.pharmvarid"},{"$ref":"#/parameters/rowFilter.allele_definition.matchesreferencesequence"},{"$ref":"#/parameters/rowFilter.allele_definition.structuralvariation"},{"$ref":"#/parameters/body.allele_definition"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/allele":{"get":{"tags":["allele"],"summary":"An allele of a gene","parameters":[{"$ref":"#/parameters/rowFilter.allele.id"},{"$ref":"#/parameters/rowFilter.allele.version"},{"$ref":"#/parameters/rowFilter.allele.genesymbol"},{"$ref":"#/parameters/rowFilter.allele.name"},{"$ref":"#/parameters/rowFilter.allele.functionalstatus"},{"$ref":"#/parameters/rowFilter.allele.clinicalfunctionalstatus"},{"$ref":"#/parameters/rowFilter.allele.clinicalfunctionalsubstrate"},{"$ref":"#/parameters/rowFilter.allele.activityvalue"},{"$ref":"#/parameters/rowFilter.allele.definitionid"},{"$ref":"#/parameters/rowFilter.allele.citations"},{"$ref":"#/parameters/rowFilter.allele.strength"},{"$ref":"#/parameters/rowFilter.allele.functioncomments"},{"$ref":"#/parameters/rowFilter.allele.findings"},{"$ref":"#/parameters/rowFilter.allele.frequency"},{"$ref":"#/parameters/rowFilter.allele.inferredfrequency"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/allele"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["allele"],"summary":"An allele of a gene","parameters":[{"$ref":"#/parameters/body.allele"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["allele"],"summary":"An allele of a gene","parameters":[{"$ref":"#/parameters/rowFilter.allele.id"},{"$ref":"#/parameters/rowFilter.allele.version"},{"$ref":"#/parameters/rowFilter.allele.genesymbol"},{"$ref":"#/parameters/rowFilter.allele.name"},{"$ref":"#/parameters/rowFilter.allele.functionalstatus"},{"$ref":"#/parameters/rowFilter.allele.clinicalfunctionalstatus"},{"$ref":"#/parameters/rowFilter.allele.clinicalfunctionalsubstrate"},{"$ref":"#/parameters/rowFilter.allele.activityvalue"},{"$ref":"#/parameters/rowFilter.allele.definitionid"},{"$ref":"#/parameters/rowFilter.allele.citations"},{"$ref":"#/parameters/rowFilter.allele.strength"},{"$ref":"#/parameters/rowFilter.allele.functioncomments"},{"$ref":"#/parameters/rowFilter.allele.findings"},{"$ref":"#/parameters/rowFilter.allele.frequency"},{"$ref":"#/parameters/rowFilter.allele.inferredfrequency"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["allele"],"summary":"An allele of a gene","parameters":[{"$ref":"#/parameters/rowFilter.allele.id"},{"$ref":"#/parameters/rowFilter.allele.version"},{"$ref":"#/parameters/rowFilter.allele.genesymbol"},{"$ref":"#/parameters/rowFilter.allele.name"},{"$ref":"#/parameters/rowFilter.allele.functionalstatus"},{"$ref":"#/parameters/rowFilter.allele.clinicalfunctionalstatus"},{"$ref":"#/parameters/rowFilter.allele.clinicalfunctionalsubstrate"},{"$ref":"#/parameters/rowFilter.allele.activityvalue"},{"$ref":"#/parameters/rowFilter.allele.definitionid"},{"$ref":"#/parameters/rowFilter.allele.citations"},{"$ref":"#/parameters/rowFilter.allele.strength"},{"$ref":"#/parameters/rowFilter.allele.functioncomments"},{"$ref":"#/parameters/rowFilter.allele.findings"},{"$ref":"#/parameters/rowFilter.allele.frequency"},{"$ref":"#/parameters/rowFilter.allele.inferredfrequency"},{"$ref":"#/parameters/body.allele"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/guideline_summary_view":{"get":{"tags":["guideline_summary_view"],"summary":"This view lists guidelines and the genes and drugs that are associated with them","parameters":[{"$ref":"#/parameters/rowFilter.guideline_summary_view.guideline_name"},{"$ref":"#/parameters/rowFilter.guideline_summary_view.guideline_url"},{"$ref":"#/parameters/rowFilter.guideline_summary_view.drugs"},{"$ref":"#/parameters/rowFilter.guideline_summary_view.genes"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/guideline_summary_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/term":{"get":{"tags":["term"],"summary":"Standardized terms for clinical PGx test results","parameters":[{"$ref":"#/parameters/rowFilter.term.id"},{"$ref":"#/parameters/rowFilter.term.category"},{"$ref":"#/parameters/rowFilter.term.term"},{"$ref":"#/parameters/rowFilter.term.functionaldef"},{"$ref":"#/parameters/rowFilter.term.geneticdef"},{"$ref":"#/parameters/rowFilter.term.loinc"},{"$ref":"#/parameters/rowFilter.term.version"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/term"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["term"],"summary":"Standardized terms for clinical PGx test results","parameters":[{"$ref":"#/parameters/body.term"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["term"],"summary":"Standardized terms for clinical PGx test results","parameters":[{"$ref":"#/parameters/rowFilter.term.id"},{"$ref":"#/parameters/rowFilter.term.category"},{"$ref":"#/parameters/rowFilter.term.term"},{"$ref":"#/parameters/rowFilter.term.functionaldef"},{"$ref":"#/parameters/rowFilter.term.geneticdef"},{"$ref":"#/parameters/rowFilter.term.loinc"},{"$ref":"#/parameters/rowFilter.term.version"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["term"],"summary":"Standardized terms for clinical PGx test results","parameters":[{"$ref":"#/parameters/rowFilter.term.id"},{"$ref":"#/parameters/rowFilter.term.category"},{"$ref":"#/parameters/rowFilter.term.term"},{"$ref":"#/parameters/rowFilter.term.functionaldef"},{"$ref":"#/parameters/rowFilter.term.geneticdef"},{"$ref":"#/parameters/rowFilter.term.loinc"},{"$ref":"#/parameters/rowFilter.term.version"},{"$ref":"#/parameters/body.term"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/gene":{"get":{"tags":["gene"],"summary":"Gene information with a primary key of the approved HGNC symbol for the gene. This means any gene used in the table must be approved by HGNC.","parameters":[{"$ref":"#/parameters/rowFilter.gene.symbol"},{"$ref":"#/parameters/rowFilter.gene.chr"},{"$ref":"#/parameters/rowFilter.gene.genesequenceid"},{"$ref":"#/parameters/rowFilter.gene.proteinsequenceid"},{"$ref":"#/parameters/rowFilter.gene.chromosequenceid"},{"$ref":"#/parameters/rowFilter.gene.mrnasequenceid"},{"$ref":"#/parameters/rowFilter.gene.hgncid"},{"$ref":"#/parameters/rowFilter.gene.ncbiid"},{"$ref":"#/parameters/rowFilter.gene.ensemblid"},{"$ref":"#/parameters/rowFilter.gene.clinpgxid"},{"$ref":"#/parameters/rowFilter.gene.frequencymethods"},{"$ref":"#/parameters/rowFilter.gene.lookupmethod"},{"$ref":"#/parameters/rowFilter.gene.version"},{"$ref":"#/parameters/rowFilter.gene.notesondiplotype"},{"$ref":"#/parameters/rowFilter.gene.url"},{"$ref":"#/parameters/rowFilter.gene.functionmethods"},{"$ref":"#/parameters/rowFilter.gene.notesonallelenaming"},{"$ref":"#/parameters/rowFilter.gene.includephenotypefrequencies"},{"$ref":"#/parameters/rowFilter.gene.includediplotypefrequencies"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/gene"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["gene"],"summary":"Gene information with a primary key of the approved HGNC symbol for the gene. This means any gene used in the table must be approved by HGNC.","parameters":[{"$ref":"#/parameters/body.gene"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["gene"],"summary":"Gene information with a primary key of the approved HGNC symbol for the gene. This means any gene used in the table must be approved by HGNC.","parameters":[{"$ref":"#/parameters/rowFilter.gene.symbol"},{"$ref":"#/parameters/rowFilter.gene.chr"},{"$ref":"#/parameters/rowFilter.gene.genesequenceid"},{"$ref":"#/parameters/rowFilter.gene.proteinsequenceid"},{"$ref":"#/parameters/rowFilter.gene.chromosequenceid"},{"$ref":"#/parameters/rowFilter.gene.mrnasequenceid"},{"$ref":"#/parameters/rowFilter.gene.hgncid"},{"$ref":"#/parameters/rowFilter.gene.ncbiid"},{"$ref":"#/parameters/rowFilter.gene.ensemblid"},{"$ref":"#/parameters/rowFilter.gene.clinpgxid"},{"$ref":"#/parameters/rowFilter.gene.frequencymethods"},{"$ref":"#/parameters/rowFilter.gene.lookupmethod"},{"$ref":"#/parameters/rowFilter.gene.version"},{"$ref":"#/parameters/rowFilter.gene.notesondiplotype"},{"$ref":"#/parameters/rowFilter.gene.url"},{"$ref":"#/parameters/rowFilter.gene.functionmethods"},{"$ref":"#/parameters/rowFilter.gene.notesonallelenaming"},{"$ref":"#/parameters/rowFilter.gene.includephenotypefrequencies"},{"$ref":"#/parameters/rowFilter.gene.includediplotypefrequencies"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["gene"],"summary":"Gene information with a primary key of the approved HGNC symbol for the gene. This means any gene used in the table must be approved by HGNC.","parameters":[{"$ref":"#/parameters/rowFilter.gene.symbol"},{"$ref":"#/parameters/rowFilter.gene.chr"},{"$ref":"#/parameters/rowFilter.gene.genesequenceid"},{"$ref":"#/parameters/rowFilter.gene.proteinsequenceid"},{"$ref":"#/parameters/rowFilter.gene.chromosequenceid"},{"$ref":"#/parameters/rowFilter.gene.mrnasequenceid"},{"$ref":"#/parameters/rowFilter.gene.hgncid"},{"$ref":"#/parameters/rowFilter.gene.ncbiid"},{"$ref":"#/parameters/rowFilter.gene.ensemblid"},{"$ref":"#/parameters/rowFilter.gene.clinpgxid"},{"$ref":"#/parameters/rowFilter.gene.frequencymethods"},{"$ref":"#/parameters/rowFilter.gene.lookupmethod"},{"$ref":"#/parameters/rowFilter.gene.version"},{"$ref":"#/parameters/rowFilter.gene.notesondiplotype"},{"$ref":"#/parameters/rowFilter.gene.url"},{"$ref":"#/parameters/rowFilter.gene.functionmethods"},{"$ref":"#/parameters/rowFilter.gene.notesonallelenaming"},{"$ref":"#/parameters/rowFilter.gene.includephenotypefrequencies"},{"$ref":"#/parameters/rowFilter.gene.includediplotypefrequencies"},{"$ref":"#/parameters/body.gene"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/recommendation":{"get":{"tags":["recommendation"],"summary":"Recommendations for a gene result pulled from a guideline","parameters":[{"$ref":"#/parameters/rowFilter.recommendation.id"},{"$ref":"#/parameters/rowFilter.recommendation.guidelineid"},{"$ref":"#/parameters/rowFilter.recommendation.drugid"},{"$ref":"#/parameters/rowFilter.recommendation.implications"},{"$ref":"#/parameters/rowFilter.recommendation.drugrecommendation"},{"$ref":"#/parameters/rowFilter.recommendation.classification"},{"$ref":"#/parameters/rowFilter.recommendation.phenotypes"},{"$ref":"#/parameters/rowFilter.recommendation.activityscore"},{"$ref":"#/parameters/rowFilter.recommendation.allelestatus"},{"$ref":"#/parameters/rowFilter.recommendation.lookupkey"},{"$ref":"#/parameters/rowFilter.recommendation.population"},{"$ref":"#/parameters/rowFilter.recommendation.comments"},{"$ref":"#/parameters/rowFilter.recommendation.version"},{"$ref":"#/parameters/rowFilter.recommendation.dosinginformation"},{"$ref":"#/parameters/rowFilter.recommendation.alternatedrugavailable"},{"$ref":"#/parameters/rowFilter.recommendation.otherprescribingguidance"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/recommendation"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["recommendation"],"summary":"Recommendations for a gene result pulled from a guideline","parameters":[{"$ref":"#/parameters/body.recommendation"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["recommendation"],"summary":"Recommendations for a gene result pulled from a guideline","parameters":[{"$ref":"#/parameters/rowFilter.recommendation.id"},{"$ref":"#/parameters/rowFilter.recommendation.guidelineid"},{"$ref":"#/parameters/rowFilter.recommendation.drugid"},{"$ref":"#/parameters/rowFilter.recommendation.implications"},{"$ref":"#/parameters/rowFilter.recommendation.drugrecommendation"},{"$ref":"#/parameters/rowFilter.recommendation.classification"},{"$ref":"#/parameters/rowFilter.recommendation.phenotypes"},{"$ref":"#/parameters/rowFilter.recommendation.activityscore"},{"$ref":"#/parameters/rowFilter.recommendation.allelestatus"},{"$ref":"#/parameters/rowFilter.recommendation.lookupkey"},{"$ref":"#/parameters/rowFilter.recommendation.population"},{"$ref":"#/parameters/rowFilter.recommendation.comments"},{"$ref":"#/parameters/rowFilter.recommendation.version"},{"$ref":"#/parameters/rowFilter.recommendation.dosinginformation"},{"$ref":"#/parameters/rowFilter.recommendation.alternatedrugavailable"},{"$ref":"#/parameters/rowFilter.recommendation.otherprescribingguidance"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["recommendation"],"summary":"Recommendations for a gene result pulled from a guideline","parameters":[{"$ref":"#/parameters/rowFilter.recommendation.id"},{"$ref":"#/parameters/rowFilter.recommendation.guidelineid"},{"$ref":"#/parameters/rowFilter.recommendation.drugid"},{"$ref":"#/parameters/rowFilter.recommendation.implications"},{"$ref":"#/parameters/rowFilter.recommendation.drugrecommendation"},{"$ref":"#/parameters/rowFilter.recommendation.classification"},{"$ref":"#/parameters/rowFilter.recommendation.phenotypes"},{"$ref":"#/parameters/rowFilter.recommendation.activityscore"},{"$ref":"#/parameters/rowFilter.recommendation.allelestatus"},{"$ref":"#/parameters/rowFilter.recommendation.lookupkey"},{"$ref":"#/parameters/rowFilter.recommendation.population"},{"$ref":"#/parameters/rowFilter.recommendation.comments"},{"$ref":"#/parameters/rowFilter.recommendation.version"},{"$ref":"#/parameters/rowFilter.recommendation.dosinginformation"},{"$ref":"#/parameters/rowFilter.recommendation.alternatedrugavailable"},{"$ref":"#/parameters/rowFilter.recommendation.otherprescribingguidance"},{"$ref":"#/parameters/body.recommendation"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/test_alert":{"get":{"tags":["test_alert"],"summary":"Example CDS test alert language","parameters":[{"$ref":"#/parameters/rowFilter.test_alert.id"},{"$ref":"#/parameters/rowFilter.test_alert.population"},{"$ref":"#/parameters/rowFilter.test_alert.cdscontext"},{"$ref":"#/parameters/rowFilter.test_alert.genes"},{"$ref":"#/parameters/rowFilter.test_alert.phenotype"},{"$ref":"#/parameters/rowFilter.test_alert.activityscore"},{"$ref":"#/parameters/rowFilter.test_alert.allelestatus"},{"$ref":"#/parameters/rowFilter.test_alert.lookupkey"},{"$ref":"#/parameters/rowFilter.test_alert.drugid"},{"$ref":"#/parameters/rowFilter.test_alert.alerttext"},{"$ref":"#/parameters/rowFilter.test_alert.version"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/test_alert"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["test_alert"],"summary":"Example CDS test alert language","parameters":[{"$ref":"#/parameters/body.test_alert"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["test_alert"],"summary":"Example CDS test alert language","parameters":[{"$ref":"#/parameters/rowFilter.test_alert.id"},{"$ref":"#/parameters/rowFilter.test_alert.population"},{"$ref":"#/parameters/rowFilter.test_alert.cdscontext"},{"$ref":"#/parameters/rowFilter.test_alert.genes"},{"$ref":"#/parameters/rowFilter.test_alert.phenotype"},{"$ref":"#/parameters/rowFilter.test_alert.activityscore"},{"$ref":"#/parameters/rowFilter.test_alert.allelestatus"},{"$ref":"#/parameters/rowFilter.test_alert.lookupkey"},{"$ref":"#/parameters/rowFilter.test_alert.drugid"},{"$ref":"#/parameters/rowFilter.test_alert.alerttext"},{"$ref":"#/parameters/rowFilter.test_alert.version"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["test_alert"],"summary":"Example CDS test alert language","parameters":[{"$ref":"#/parameters/rowFilter.test_alert.id"},{"$ref":"#/parameters/rowFilter.test_alert.population"},{"$ref":"#/parameters/rowFilter.test_alert.cdscontext"},{"$ref":"#/parameters/rowFilter.test_alert.genes"},{"$ref":"#/parameters/rowFilter.test_alert.phenotype"},{"$ref":"#/parameters/rowFilter.test_alert.activityscore"},{"$ref":"#/parameters/rowFilter.test_alert.allelestatus"},{"$ref":"#/parameters/rowFilter.test_alert.lookupkey"},{"$ref":"#/parameters/rowFilter.test_alert.drugid"},{"$ref":"#/parameters/rowFilter.test_alert.alerttext"},{"$ref":"#/parameters/rowFilter.test_alert.version"},{"$ref":"#/parameters/body.test_alert"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/publication_supplement":{"get":{"tags":["publication_supplement"],"summary":"A table to hold optional supplemental files for publications","parameters":[{"$ref":"#/parameters/rowFilter.publication_supplement.id"},{"$ref":"#/parameters/rowFilter.publication_supplement.publicationid"},{"$ref":"#/parameters/rowFilter.publication_supplement.description"},{"$ref":"#/parameters/rowFilter.publication_supplement.url"},{"$ref":"#/parameters/rowFilter.publication_supplement.version"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/publication_supplement"},"type":"array"}},"206":{"description":"Partial Content"}}},"post":{"tags":["publication_supplement"],"summary":"A table to hold optional supplemental files for publications","parameters":[{"$ref":"#/parameters/body.publication_supplement"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}}},"delete":{"tags":["publication_supplement"],"summary":"A table to hold optional supplemental files for publications","parameters":[{"$ref":"#/parameters/rowFilter.publication_supplement.id"},{"$ref":"#/parameters/rowFilter.publication_supplement.publicationid"},{"$ref":"#/parameters/rowFilter.publication_supplement.description"},{"$ref":"#/parameters/rowFilter.publication_supplement.url"},{"$ref":"#/parameters/rowFilter.publication_supplement.version"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["publication_supplement"],"summary":"A table to hold optional supplemental files for publications","parameters":[{"$ref":"#/parameters/rowFilter.publication_supplement.id"},{"$ref":"#/parameters/rowFilter.publication_supplement.publicationid"},{"$ref":"#/parameters/rowFilter.publication_supplement.description"},{"$ref":"#/parameters/rowFilter.publication_supplement.url"},{"$ref":"#/parameters/rowFilter.publication_supplement.version"},{"$ref":"#/parameters/body.publication_supplement"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}}}},"/change_log_view":{"get":{"tags":["change_log_view"],"summary":"This view of the change_log table add the entity name to make it more readable","parameters":[{"$ref":"#/parameters/rowFilter.change_log_view.date"},{"$ref":"#/parameters/rowFilter.change_log_view.type"},{"$ref":"#/parameters/rowFilter.change_log_view.entityname"},{"$ref":"#/parameters/rowFilter.change_log_view.note"},{"$ref":"#/parameters/rowFilter.change_log_view.deployedrelease"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/change_log_view"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/data_progress":{"get":{"tags":["data_progress"],"parameters":[{"$ref":"#/parameters/rowFilter.data_progress.object_class"},{"$ref":"#/parameters/rowFilter.data_progress.data_type"},{"$ref":"#/parameters/rowFilter.data_progress.object_name"},{"$ref":"#/parameters/rowFilter.data_progress.n"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/data_progress"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/rpc/clinpgx_guideline_alleles":{"get":{"tags":["(rpc) clinpgx_guideline_alleles"],"summary":"For a given ClinPGx drug ID, list the alleles that are options for looking up recommendations","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"text","in":"query","name":"clinpgxdrugid","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) clinpgx_guideline_alleles"],"summary":"For a given ClinPGx drug ID, list the alleles that are options for looking up recommendations","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"description":"For a given ClinPGx drug ID, list the alleles that are options for looking up recommendations","properties":{"clinpgxdrugid":{"format":"text","type":"string"}},"required":["clinpgxdrugid"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}},"/rpc/test_alert_lookup":{"get":{"tags":["(rpc) test_alert_lookup"],"summary":"This function helps translate diplotypes into test alert data. This relies on the test_alert_view to gather and filter relevant information. The lookup parameter is a JSON object of gene symbol to JSON allele representation.","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"text","in":"query","name":"lookup","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) test_alert_lookup"],"summary":"This function helps translate diplotypes into test alert data. This relies on the test_alert_view to gather and filter relevant information. The lookup parameter is a JSON object of gene symbol to JSON allele representation.","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"description":"This function helps translate diplotypes into test alert data. This relies on the test_alert_view to gather and filter relevant information. The lookup parameter is a JSON object of gene symbol to JSON allele representation.","properties":{"lookup":{"format":"text","type":"string"}},"required":["lookup"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}},"/rpc/clinpgx_guideline_recommendation":{"get":{"tags":["(rpc) clinpgx_guideline_recommendation"],"summary":"For a given ClinPGx guideline and genotype lookup JSON key, give the matching recommendations","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"text","in":"query","name":"clinpgxdrugid","required":true,"type":"string"},{"format":"text","in":"query","name":"lookupkeyarg","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) clinpgx_guideline_recommendation"],"summary":"For a given ClinPGx guideline and genotype lookup JSON key, give the matching recommendations","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"description":"For a given ClinPGx guideline and genotype lookup JSON key, give the matching recommendations","properties":{"clinpgxdrugid":{"format":"text","type":"string"},"lookupkeyarg":{"format":"text","type":"string"}},"required":["clinpgxdrugid","lookupkeyarg"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}},"/rpc/recommendation_lookup":{"get":{"tags":["(rpc) recommendation_lookup"],"summary":"This function helps translate diplotypes into recommendation data. This relies on the recommendation_view to gather and filter relevant information. The diplotypelookup parameter is a JSON object of gene symbol to JSON allele representation.","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"text","in":"query","name":"diplotypelookup","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) recommendation_lookup"],"summary":"This function helps translate diplotypes into recommendation data. This relies on the recommendation_view to gather and filter relevant information. The diplotypelookup parameter is a JSON object of gene symbol to JSON allele representation.","produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"description":"This function helps translate diplotypes into recommendation data. This relies on the recommendation_view to gather and filter relevant information. The diplotypelookup parameter is a JSON object of gene symbol to JSON allele representation.","properties":{"diplotypelookup":{"format":"text","type":"string"}},"required":["diplotypelookup"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}}},"definitions":{"file_artifact":{"description":"File artifact information. Each entry is a different file artifact generated by the system","required":["id","type","filename"],"properties":{"id":{"description":"A synthetic numerical ID, auto-assigned, primary key\n\nNote:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"entityids":{"description":"The IDs of the entities the file is for, required","format":"text[]","items":{"type":"string"},"type":"array"},"type":{"description":"The type of file","format":"text","type":"string"},"filename":{"description":"The name of the file (no path)","format":"text","type":"string"},"url":{"description":"The permanent URL of the current version of this file","format":"text","type":"string"}},"type":"object"},"drug":{"description":"A clinically-used drug.","required":["drugid","name"],"properties":{"drugid":{"description":"A unique identifier for this drug in the form \"source:id\" where source is some outside knowledge resource and id is their identifier, primary key\n\nNote:\nThis is a Primary Key.<pk/>","format":"character varying","maxLength":20,"type":"string"},"name":{"description":"The generic name for this drug, lower-cased, required","format":"text","type":"string"},"clinpgxid":{"description":"The ClinPGx ID for this drug, optional","format":"character varying","maxLength":20,"type":"string"},"rxnormid":{"description":"The RxNorm ID for this drug, optional","format":"character varying","maxLength":20,"type":"string"},"drugbankid":{"description":"The DrugBank ID for this drug, optional","format":"character varying","maxLength":20,"type":"string"},"atcid":{"description":"One or more ATC IDs for this drug in an array, optional","format":"text[]","items":{"type":"string"},"type":"array"},"umlscui":{"description":"The UMLS Concept Unique ID for this drug, optional","format":"character varying","maxLength":20,"type":"string"},"flowchart":{"description":"URL for the flow chart image of this drug","format":"text","type":"string"},"version":{"default":1,"format":"integer","type":"integer"},"guidelineid":{"description":"The guideline this drug is part of a guideline, null means not a part of any guideline\n\nNote:\nThis is a Foreign Key to `guideline.id`.<fk table='guideline' column='id'/>","format":"integer","type":"integer"}},"type":"object"},"flyway_schema_history":{"required":["installed_rank","description","type","script","installed_by","installed_on","execution_time","success"],"properties":{"installed_rank":{"description":"Note:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"version":{"format":"character varying","maxLength":50,"type":"string"},"description":{"format":"character varying","maxLength":200,"type":"string"},"type":{"format":"character varying","maxLength":20,"type":"string"},"script":{"format":"character varying","maxLength":1000,"type":"string"},"checksum":{"format":"integer","type":"integer"},"installed_by":{"format":"character varying","maxLength":100,"type":"string"},"installed_on":{"default":"now()","format":"timestamp without time zone","type":"string"},"execution_time":{"format":"integer","type":"integer"},"success":{"format":"boolean","type":"boolean"}},"type":"object"},"change_log":{"description":"A dated freeform text description of a change made to a type of information and optionally for a specific entity","required":["date","type","note"],"properties":{"date":{"description":"The date the log note is applicable","format":"date","type":"string"},"type":{"description":"The type of data this log message is about","format":"text","type":"string"},"entityid":{"description":"Optional, the specific entity this note is about. For example, could be a gene symbol or drug ID","format":"text","type":"string"},"note":{"description":"The freeform text note about what the change was","format":"text","type":"string"},"version":{"default":1,"description":"The version number, iterates on modification","format":"integer","type":"integer"},"deployedrelease":{"description":"The release this change was deployed with","format":"text","type":"string"}},"type":"object"},"sequence_location":{"description":"A location on a sequence","required":["id","genesymbol"],"properties":{"id":{"description":"Note:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"version":{"default":1,"format":"integer","type":"integer"},"name":{"description":"The short name of this sequence location, arbitrary but often the gene location and nucleotide change","format":"text","type":"string"},"chromosomelocation":{"description":"The partial HGVS representation of the location on the chromosomal sequence","format":"text","type":"string"},"genelocation":{"description":"The partial HGVS representation of the location on the gene sequence","format":"text","type":"string"},"proteinlocation":{"description":"The partial HGVS representation of the location on the protein sequence","format":"text","type":"string"},"genesymbol":{"description":"The HGNC symbol fo the gene this squence location falls in\n\nNote:\nThis is a Foreign Key to `gene.symbol`.<fk table='gene' column='symbol'/>","format":"character varying","maxLength":50,"type":"string"},"dbsnpid":{"description":"The DBSNP identifier (rs#) for this location, optional","format":"text","type":"string"},"position":{"description":"The position, or starting position, of this variation on the chromosomal/mitochondrial sequence","format":"integer","type":"integer"}},"type":"object"},"allele_location_value":{"description":"The change at a specific location for a specific allele","required":["alleledefinitionid","locationid","variantallele"],"properties":{"alleledefinitionid":{"description":"The reference to the allele this variant is on\n\nNote:\nThis is a Foreign Key to `allele_definition.id`.<fk table='allele_definition' column='id'/>","format":"integer","type":"integer"},"locationid":{"description":"The reference to the location this variant is for\n\nNote:\nThis is a Foreign Key to `sequence_location.id`.<fk table='sequence_location' column='id'/>","format":"integer","type":"integer"},"variantallele":{"description":"The allele of this location for the allele","format":"text","type":"string"},"version":{"default":1,"description":"The version number, iterates on modification","format":"integer","type":"integer"}},"type":"object"},"guideline":{"description":"A guideline for a drug or group of drugs","required":["id","name"],"properties":{"id":{"description":"A synthetic numerical ID, primary key\n\nNote:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"version":{"default":1,"description":"The version number, iterates on modification","format":"integer","type":"integer"},"name":{"description":"The name (title) of this guideline, required","format":"text","type":"string"},"url":{"description":"The URL of this guideline on the cpicpgx.org domain, optional","format":"text","type":"string"},"genes":{"description":"The subject genes of this guideline","format":"text[]","items":{"type":"string"},"type":"array"},"notesonusage":{"description":"Notes about using a particular guideline within this system. This may include. You may find information here when data for a guideline seems missing or incomplete.","format":"text","type":"string"},"clinpgxid":{"description":"The accession ID in ClinPGx for the guideline","format":"text","type":"string"}},"type":"object"},"file_note":{"description":"An ordered note that should appear with the type of information specified","required":["type","note","ordinal"],"properties":{"type":{"description":"The type of information this note is about","format":"text","type":"string"},"entityid":{"description":"Optional, the specific entity this note is about. For example, could be a gene symbol or drug ID","format":"text","type":"string"},"note":{"description":"The freeform text note about the type/entity","format":"text","type":"string"},"ordinal":{"description":"The index number for ordering notes of a given type/entity","format":"integer","type":"integer"},"version":{"default":1,"description":"The version number, iterates on modification","format":"integer","type":"integer"}},"type":"object"},"recommendation_view":{"description":"A view to help find recommendation data when querying by the lookupKey","properties":{"recommendationid":{"description":"Note:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"lookupkey":{"format":"jsonb"},"drugname":{"format":"text","type":"string"},"guidelinename":{"format":"text","type":"string"},"guidelineurl":{"format":"text","type":"string"},"implications":{"format":"jsonb"},"drugrecommendation":{"format":"text","type":"string"},"classification":{"format":"character varying","maxLength":20,"type":"string"},"phenotypes":{"format":"jsonb"},"activityscore":{"format":"jsonb"},"population":{"format":"text","type":"string"},"comments":{"format":"text","type":"string"}},"type":"object"},"population":{"description":"A population description of a group of subjects","required":["id","ethnicity"],"properties":{"id":{"description":"A synthetic primary key ID\n\nNote:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"publicationid":{"description":"A reference to a publication\n\nNote:\nThis is a Foreign Key to `publication.id`.<fk table='publication' column='id'/>","format":"integer","type":"integer"},"ethnicity":{"description":"The major ethnicity grouping of this population","format":"text","type":"string"},"population":{"description":"The descriptive name of this population, optional","format":"text","type":"string"},"populationinfo":{"description":"Further information about this population, optional","format":"text","type":"string"},"subjecttype":{"description":"Information about the types of subjects in this population","format":"text","type":"string"},"subjectcount":{"default":0,"description":"The total number of subjects in this population","format":"integer","type":"integer"},"version":{"default":1,"description":"The version number, iterates on modification","format":"integer","type":"integer"}},"type":"object"},"statistic":{"description":"A collection of numerical statistics with metadata about this database and other CPIC data","required":["createdon","stattype","statvalue"],"properties":{"createdon":{"description":"Note:\nThis is a Primary Key.<pk/>","format":"timestamp without time zone","type":"string"},"stattype":{"description":"Note:\nThis is a Primary Key.<pk/>","format":"text","type":"string"},"statvalue":{"format":"numeric","type":"number"}},"type":"object"},"test_alert_view":{"description":"A view to help find test alert data when querying by the lookupKey","properties":{"testalertid":{"description":"Note:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"lookupkey":{"format":"jsonb"},"drugname":{"format":"text","type":"string"},"population":{"format":"text","type":"string"},"alerttext":{"format":"text[]","items":{"type":"string"},"type":"array"},"cdscontext":{"format":"text","type":"string"}},"type":"object"},"pair_view":{"description":"This pairs view combines information from the pair, drug, and guideline tables to make a more readable view of pair data. This also limits result to pairs which have NOT been removed.","properties":{"pairid":{"description":"The primary key ID of this pair\n\nNote:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"drugid":{"description":"The ID of the drug in the pair\n\nNote:\nThis is a Foreign Key to `drug.drugid`.<fk table='drug' column='drugid'/>","format":"character varying","maxLength":20,"type":"string"},"drugname":{"description":"The name of the drug in the pair","format":"text","type":"string"},"genesymbol":{"description":"The symbol of the drug in the pair\n\nNote:\nThis is a Foreign Key to `gene.symbol`.<fk table='gene' column='symbol'/>","format":"character varying","maxLength":20,"type":"string"},"guidelinename":{"description":"The name for the guideline of this pair","format":"text","type":"string"},"guidelineurl":{"description":"The URL for the guideline of this pair","format":"text","type":"string"},"cpiclevel":{"description":"The CPIC-assigned level of the pair","format":"text","type":"string"},"clinpgxlevel":{"description":"The top level of ClinPGx Summary Annotation of the pair","format":"character varying","maxLength":5,"type":"string"},"pgxtesting":{"description":"The testing level of the label annotation from ClinPGx for this pair","format":"text","type":"string"},"pmids":{"description":"The PMIDs for guideline publications of this pair","format":"text[]","items":{"type":"string"},"type":"array"},"usedforrecommendation":{"format":"text","type":"string"},"provisional":{"description":"The CPIC level assigned to this pair is provisional, true if this pair is not part of a guideline","format":"boolean","type":"boolean"}},"type":"object"},"pair":{"description":"A pair of a gene and a drug that is notable to CPIC","required":["pairid","cpiclevel"],"properties":{"pairid":{"description":"A synthetic numerical id, automatically assigned, primary key\n\nNote:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"genesymbol":{"description":"The HGNC symbol of the gene in this pair, required\n\nNote:\nThis is a Foreign Key to `gene.symbol`.<fk table='gene' column='symbol'/>","format":"character varying","maxLength":20,"type":"string"},"drugid":{"description":"The ID of the drug in this pair, required\n\nNote:\nThis is a Foreign Key to `drug.drugid`.<fk table='drug' column='drugid'/>","format":"character varying","maxLength":20,"type":"string"},"guidelineid":{"description":"The ID of a guideline this pair is described in, optional\n\nNote:\nThis is a Foreign Key to `guideline.id`.<fk table='guideline' column='id'/>","format":"integer","type":"integer"},"usedforrecommendation":{"default":false,"description":"Whether the gene is used for recommendation lookup for the drug if this pair is part of a guideline, default false","format":"boolean","type":"boolean"},"version":{"default":1,"description":"The version number, iterates on modification","format":"integer","type":"integer"},"cpiclevel":{"description":"The CPIC level of this pair, required","format":"text","type":"string"},"clinpgxlevel":{"description":"The top level of PharmGKB Clinical Annotation for this pair, optional","format":"character varying","maxLength":5,"type":"string"},"pgxtesting":{"description":"The top level of PGx testing recommendation from PharmGKB label annotations, optional","format":"text","type":"string"},"citations":{"description":"The PMID citations in an array for this pair, optional","format":"text[]","items":{"type":"string"},"type":"array"},"removed":{"default":false,"description":"Has this pair been \"removed\", eg is no longer a valid pair, default false","format":"boolean","type":"boolean"},"removeddate":{"description":"If removed, when was this pair \"removed\"","format":"date","type":"string"},"removedreason":{"description":"If removed, why was this pair \"removed\"","format":"text","type":"string"}},"type":"object"},"allele_frequency":{"description":"A frequency observation for a particular allele in a particular population","required":["alleleid","population"],"properties":{"alleleid":{"description":"The ID of the allele for this observation\n\nNote:\nThis is a Foreign Key to `allele.id`.<fk table='allele' column='id'/>","format":"integer","type":"integer"},"population":{"description":"The ID of the population for this observation\n\nNote:\nThis is a Foreign Key to `population.id`.<fk table='population' column='id'/>","format":"integer","type":"integer"},"frequency":{"description":"The numeric representation of this frequency","format":"numeric","type":"number"},"label":{"description":"The textual label for this frequency, \"-\" means no observation made","format":"text","type":"string"},"version":{"default":1,"description":"The version number, iterates on modification","format":"integer","type":"integer"}},"type":"object"},"population_frequency_view":{"description":"A summary of frequency data by allele and major population group","properties":{"genesymbol":{"description":"The HGNC symbol of the gene\n\nNote:\nThis is a Foreign Key to `gene.symbol`.<fk table='gene' column='symbol'/>","format":"character varying","maxLength":50,"type":"string"},"name":{"description":"The allele name","format":"text","type":"string"},"population_group":{"description":"The major grouping of population","format":"text","type":"string"},"subjectcount":{"description":"The count of subjects assigned the population group for the given allele","format":"bigint","type":"integer"},"freq_weighted_avg":{"description":"The average frequency weighted by total subjects","format":"numeric","type":"number"},"freq_avg":{"description":"The unweighted average frequency (use with caution)","format":"numeric","type":"number"},"freq_max":{"description":"The maximum frequency observed","format":"numeric","type":"number"},"freq_min":{"description":"The minimum frequency observed","format":"numeric","type":"number"}},"type":"object"},"file_status":{"properties":{"id":{"description":"Note:\nThis is a Primary Key.<pk/>","format":"integer","type":"integer"},"entityids":{"format":"text[]","items":{"type":"string"},"type":"array"},"type":{"format":"text","type":"string"},"filename":{"format":"text","type":"string"},"url":{"format":"text","type":"string"},"latest_change":{"format":"timestamp without time zone","type":"string"}},"type":"object"},"gene_result_lookup":{"description":"Gene descriptions that, when combined, link 
[...]
